{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block container %}
<div class="wrapper container-fluid"><!--map wrapper with collapsable menu-->

        <div class="row">

          <form action="/search" method="post">
            <div class="row">
              <div class="col mb-3">
                <label for="validationDefault01"></label>
                <input type="text" class="form-control" id="validationDefault01" placeholder="Keywords" required>
              </div>
            </div>
            <div class="row">
              <div class="col mb-3">
                <label for="validationDefault02"></label>
                <input type="text" class="form-control" id="validationDefault02" placeholder="Address" required>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6 mb-3">
                <label for="validationDefault03"></label>
                <input type="text" class="form-control" id="validationDefault03" placeholder="City" required>
                <div class="invalid-feedback">
                  Please provide a valid city.
                </div>
              </div>
              <div class="col-md-3 mb-3">
                <label for="validationDefault04"></label>
                <input type="text" class="form-control" id="validationDefault04" placeholder="State" required>
                <div class="invalid-feedback">
                  Please provide a valid state.
                </div>
              </div>
              <div class="col-md-3 mb-3">
                <label for="validationDefault05"></label>
                <input type="text" class="form-control" id="validationDefault05" placeholder="Zip" required>
                <div class="invalid-feedback">
                  Please provide a valid zip.
                </div>
              </div>
            </div>

            <button class="btn btn-primary" type="submit">Submit</button>
          </form>

        </div><!--End row-->

</div><!--End wrapper-->

{% endblock %}
